* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('images/background2.jpeg')
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* HEADER */
header {
  background: #FFFFFF;
  color: #000000;
  padding: 20px 0;
}

.logo {
  width: 100px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  text-align: center;
}

#signinBtn {
  background-color: #00EBC7;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

#signinBtn:hover {
  background-color: #FF5470;
}

/* BODY */
.hero {
  background-image:url('images/background1.jpeg');
  padding: 150px 0;
  text-align: center;
}

.hero h2 {
  margin-bottom: 50px;
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.hero h2 span {
  color: #00EBC7;
}

@import url('https://fonts.googleapis.com/css?family=Anton');

.hero h2 {
  font-family: "Anton";
}

.hero img{
    width: 300px;
    margin-bottom: 40px;
}


/* SCROLL DOWN */
.scroll-down-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down-button a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.scroll-down-button i {
  display: block;
  width: 20px;
  height: 24px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  padding: 3px;
  margin: 0 auto;
}

.scroll-down-button i:hover {
  border-color: #00EBC7;
}

/* FOOTER */
footer {
  background: #00EBC7;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  width: 200px;
  margin-right: auto;
}

.footer-links {
  display: flex;
}

.footer-section {
  margin-right: 80px;
}

.footer-section:last-child {
  margin-right: 100px;
}

.footer-section h3 {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 10px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section:nth-child(1) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section:nth-child(3) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*ABOUT US*/
.content1 {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.text1 {
  flex: 1;
}

.text1 h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}

.text1 p {
  margin-top: 20px;
  font-size: 30px;
  margin-right: 30px;
  font-family: "Arial", fantasy;
}

.content1 img {
  margin-left: 20px;
  max-width: 50%;
}

/*Why InternHub*/
.content2 {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 80px
}

.text2 {
  flex: 1;
}

.text2 h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 50px;
}

.text2 p {
  margin-top: 20px;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 100px;
  font-family: "Arial", fantasy;
}

.content2 img {
  margin-left: 0px;
  max-width: 30%; 
}

/* Left Column - Students */

.two-column-section {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: 90px;
}

.columnL {
  flex: 50;
  padding: 20px;
  margin-right: 30px;
  margin-left: 90px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #FF5470;
}

.h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.p {
  font-size: 16px;
  line-height: 1.5;
}

.columnR {
  flex: 50;
  padding: 20px;
  margin-left: 30px;
  margin-right: 90px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #FF5470;
}

.h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.p {
  font-size: 16px;
  line-height: 1.5;
}

.columnL img{
  width: 60%; 
  max-width: 60%; 
  height: auto; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.columnR img {
  width: 5=60%; 
  max-width: 60%; 
  height: auto; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.columnL button, .columnR button {
  background-color: #00214D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.columnL button:hover, .columnR button:hover {
  background-color: #00214D;
}