/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('images/background2.jpeg');
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* HEADER */
header {
  background: #FFFFFF;
  color: #000000;
  padding: 20px 0;
}

.logo {
  width: 100px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  text-align: center;
}

.signin-img {
  width: 60px;
  height: auto;
  padding-left: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #00214D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #00EBC7;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.line {
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.dropdown-content a.signout {
  color: #FF0000; 
}

/* FOOTER */
footer {
  background: #00EBC7;
  color: #fff;
  padding: 30px 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  width: 200px;
  margin-right: auto;
}

.footer-links {
  display: flex;
}

.footer-section {
  margin-right: 80px;
}

.footer-section:last-child {
  margin-right: 100px;
}

.footer-section h3 {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 10px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section:nth-child(1) ul,
.footer-section:nth-child(2) ul,
.footer-section:nth-child(3) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Ensure footer visibility consistency */
footer {
  display: block;
}


/* PROFILE */
.header {
  margin: 50px 0;
  margin-left: 260px;
  font-size: 25px;
}

.containerS {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.additional-box {
  width: 60%;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  margin-right: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.additional-box img {
  position: relative;
}

/* Profile background */
#profilebackground {
  width: 100%;
  height: 80%;
  top: -40px;
  left: 0;
  z-index: 1;
}

/* Profile picture */
#profilepicture {
  z-index: 2;
  margin-left: 60px;
  margin-top: -150px;
  position: relative;
}

/* Edit Profile Picture button */
#editProfilePicture {
  position: absolute;
  top: 360px; 
  right: 500px;
  background-color: #00EBC7;
  color: #000;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  z-index: 3;
}

.editable-fields {
  margin-top: 20px; 
  position: relative;
  z-index: 4; 
}

.info-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-container label {
  font-size: 18px;
}

.info-container input {
  font-size: 28px;
  border: none;
  border-bottom: 1px solid #00EBC7;
  padding: 5px;
  width: 400px;
  outline: none;
}

.info-container input:focus {
  border-bottom: 1px solid #00EBC7;
}

/* Styling for text above plus icon */
.upload-description {
  margin-bottom: 10px;
  margin-top: 20px;
}

.upload-description span {
  font-size: 18px;
  margin-top: 0px;
}

/* Styling for plus icon */
.upload-document {
  display: flex;
  align-items: center;
}

.upload-document label {
  font-size: 28px; 
}

#uploadIcon {
  font-size: 40px;
  color: #00EBC7;
  cursor: pointer;
  margin-right: 10px;
}

#uploadIcon:hover {
  color: #00214D;
}

/* Styling for the Cancel and Save buttons */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.button-container button {
  padding: 10px 20px;
  margin-left: 0px;
  background-color: #00214D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:last-child {
  margin-right: 0;
}

.button-container button:hover {
  background-color: #00EBC7;
}

/* SETTINGS */


.settings-box .header-box {
  background-color: #00214D;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-box button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

/* New class for active button state */
.active-button {
  color: #00EBC7;
}

/* Add transitions for smooth color change */
.settings-box button {
  transition: color 0.3s;
}

/* Maintain other button styles */
.settings-box button:hover {
  background-color: #00EBC7; /* Modify as needed */
}

/* Education */

.edu-account-box {
  width: 60%;
  padding: 30px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 230px; 
  margin-right: 180px;
}

.personal-details-box h3 {
  color: #000;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.edu-account-description {
  color: #6c757d; /* Grey color for the description text */
  font-size: 1em;
  margin: 0;
  padding: 10px 0 0;
  line-height: 1.5;
}

.personal-details-box form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.name-fields {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

.personal-details-box form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.personal-details-box form input {
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name-fields input {
  flex: 1; 
  min-width: 400px;
}

/* Buttons in Container D */

.containerD button {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #00214D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.containerD button:last-child {
  margin-right: 0;
}

.containerD button:hover {
  background-color: #00EBC7;
}


/* EDIT POPUP */
.edit-window {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.edit-window-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 470px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.edit-window-content h2 {
  margin-bottom: 20px;
  font-size: 35px;
}

.edit-window-content label {
  font-size: 24px; 
}

.edit-window-content input {
  margin-bottom: 20px;
  font-size: 20px;
}

.edit-window-content button {
  background-color: #00214D;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.edit-window-content button:hover {
  background-color: #000812;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* DELETE ACCOUNT */
.delete-account-box {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 430px;
  margin-right: 200px;
}

.delete-account-box h3 {
  font-size: 40px;
}

.delete-account-box button {
  color: #D20707;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
}

/* BUTTON CONTAINER */
.button-container button {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #00214D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #ff3333;
}

.button-container button:last-child {
  margin-right: 0;
}

