
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('images/background2.jpeg')
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* HEADER */
header {
  background: #FFFFFF;
  color: #000000;
  padding: 20px 0;
}

.logo {
  width: 100px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  text-align: center;
}

.signin-img {
  width: 60px;
  height: auto;
  padding-left: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #00214D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #00EBC7;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.line {
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.dropdown-content a.signout {
  color: #FF0000; 
}


/* FOOTER */
footer {
  background: #00EBC7;
  color: #fff;
  padding: 40px 10px;
  text-align: center;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  width: 200px;
  margin-right: auto;
}

.footer-links {
  display: flex;
}

.footer-section {
  margin-right: 80px;
}

.footer-section:last-child {
  margin-right: 100px;
}

.footer-section h3 {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 10px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section:nth-child(1) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section:nth-child(3) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
    margin: 20px 0;
    color: #333;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.box-image {
    max-width: 100%;
    height: auto;
}

.box-content {
    margin-top: 20px;
}

.box-content h2 {
    margin: 0 0 10px;
}

.box-content p {
    margin: 5px 0;
}

.box-button, .edit-button, .delete-button {
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff; 
}

/* Edit button style */
.edit-button {
    background-color: #00EBC7;
    color: #000;
}

/* Delete button style */
.delete-button {
    background-color: #00214D;
    color: #fff;
}

.edit-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px 0;
}

.edit-form h2 {
    margin-top: 0;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-form input[type="text"], .edit-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form textarea {
    resize: none;
    height: 100px;
}

.edit-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00214D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.edit-form input[type="submit"]:hover {
    background-color: #0056b3;
}
